* {
    box-sizing: border-box;
}

/* navigation */

.logo {
    color: #fff;
    font-size: 2rem;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    display:flex;
   
    justify-content: space-between;
    align-items: center;

    padding: 10px 30px;

    background: #111;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a {
    text-decoration: none; /*link underline remove */
    color: white;
    font-size: 15px;
    transition: .3s;
}

.nav-links a:hover {
    color: #ff6b00;
}

/* for button inside navigation bar */
.order-btn {
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    background: #ff6b00;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.order-btn:hover {
    background: #da7734;
}

/* Hero section  */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

/* About us section */

.about{
        display: block;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
        padding: 20px;
}
/* Body section */
body {
    background: #f7f4ef;
    color: #333;
    font-family: "Poppins", sans-serif;
    margin: 0;

}

.starters,
.main-course,
.desserts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

h2 {
    
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #201e1d;
    position: relative;
}

#our-menu{
    text-align: center;
}
/* food cards positioning */

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card {
    display: block;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
    overflow: hidden;
    transition: .3s;
    background: ivory;
        
}

.card-body {
    padding: 20px;
}

.card h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card span {
    color: #d35400;
    font-weight: bold;
    font-size: 1.1rem;
}
.card p {
    color: #666;
    margin: 15px 0;
    line-height: 1.7;
}

.card button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
}

.card button:first-of-type {
    background: #fbf71d;
    color: rgb(0, 0, 0);
}

.card button:last-of-type {
    background: #222;
    color: white;
}

.card button:hover {
    opacity: .85;
}

/* footer section  */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 60px;
}